<main>
    <div class="left">
        <div class="card">
            <h1>BEM-VINDO</h1>
            <form (ngSubmit)="onSubmit()">
                <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>
                <input type="password" placeholder="Senha" [(ngModel)]="password" name="password" required>
                <div class="button-p">
                    <button type="submit">ENTRAR</button>
                    <a routerLink="/register">
                        <p>Ainda não tem uma conta? Clique aqui!</p>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="right">
        <img src="../../../assets/images/tablet-login-animate.svg" alt="Ilustração">
    </div>
</main>
