<main>
    <div class="left">
        <div class="card">
            <h1>BEM-VINDO</h1>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
            <div class="button-p">
                <button>ENTRAR</button>
                <a routerLink="/register">
                    <p>Ainda não tem uma conta? Clique aqui!</p>
                </a>
            </div>
        </div>
    </div>
    <div class="right">
        <img src="../../../assets/images/tablet-login-animate.svg" alt="Ilustração">
    </div>
</main>